<h2>Online sessions</h2>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= link_to lecture.name, lecture, {:class => "attend_link"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Start new session!', new_lecture_path, { class: 'big_link' } %>
