<h2>Online topics</h2>

<table>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.name, topic, {:class => "attend_link"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Start new topic!', new_topic_path, { class: 'big_link' } %>
